@font-face {
  font-family: "Futura Regular";
  src:
    local("Futura Regular"),
    url(./fonts/Futura-PT-Book.ttf) format("truetype");
}
@font-face {
  font-family: "Futura SemiBold";
  src:
    local("Futura SemiBold"),
    url(./fonts/Futura-PT-Demi.ttf) format("truetype");
}
@font-face {
  font-family: "Futura Heavy";
  src:
    local("Futura Heavy"),
    url(./fonts/Futura-PT-Heavy.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura Regular", sans-serif;
}
html,
body {
  background-color: #181818;
  height: 100%;
}
#root {
  height: 100%;
}
p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}
h1 {
  font-family: "Futura SemiBold", sans-serif;
  font-size: 56px;
  color: #fff;
  line-height: 100%;
  -webkit-text-stroke: 1.2px black;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
img {
  width: 100%;
}
.title {
  font-family: "Futura SemiBold", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #fff;
  line-height: 120%;
  margin-bottom: 24px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  max-width: 130px;
  max-height: 44px;
}
.not-found {
  font-size: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.btn {
  font-family: "Futura Heavy";
  border: 1px solid rgba(236, 63, 63, 0.8);
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  text-decoration: unset;
  cursor: pointer;
  background: rgba(236, 63, 63, 0.1);
  transition: 0.2s;
  display: block;
  &:hover {
    box-shadow: 0 2px 24px 0 rgba(255, 30, 30, 0.5);
    background: #ff1e1e;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 640px;
  }
  .title{
    font-size: 32px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    max-width: 530px;
  }
  .title{
    font-size: 28px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    max-width: 330px;
  }
  .logo {
    max-width: 107px;
    max-height: 36px;
  }
  .btn{
    padding: 12px 22px;
  }
}
